/* styles/login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* 
    Kích thước nút đăng nhập trong trang login
*/
.login-form .btn-custom {
    padding: 0.8rem 1.5rem; /* Kích thước vừa phải */
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%; /* Nút sẽ chiếm toàn bộ chiều rộng của container */
}